### IS362 Assignemt 5
### Redjol Olli

#### Step 1
- Import Pandas

In [7]:
import pandas as pd

#### Step 2 
- Import the source file.

In [6]:
airports = pd.read_csv("https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/airports.csv", 
                       na_values=["\\N"])

#### Step 3
- Display the first 5 rows from the source sorted in order to find the Northern most airport.

In [8]:
airports.head()
airports.sort_values("lat", ascending = False).head(5)

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage

### Question 1
- What is the northernmost airport in the United States?
  Based on the data Dillant Hopkins Airport is the northernmost airport, which is incorrect. After additional research Dillant Hopkins Airport is located in New Hampshire, which is nowhere near as North as the Alaskan airports below it.

In [9]:
airports = airports.dropna(how='any')
airports.sort_values("lat", ascending = False).head(5)

,faa,name,lat,lon,alt,tz,dst,tzone
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage
1363,UUK,Ugnu-Kuparuk Airport,70.330833,-149.597500,67,-9,A,America/Anchorage

- Ans: Further research was required, and the northernmost airport in the USA is Wiley Post WIll Rogers Mem Airport. I searched up the coordinates for this and verified the coordinates are correct.

### Question 2
- What is the easternmost airport in the United States?

In [10]:
# sorting by longitude.
airports.sort_values("lon", ascending = False).head(5)

,faa,name,lat,lon,alt,tz,dst,tzone
1290,SYA,Eareckson As,52.712275,174.113620,98,-9,A,America/Anchorage
942,MYF,Montgomery Field,32.475900,117.759000,17,8,A,Asia/Chongqing
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8,A,Asia/Chongqing
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York
624,HUL,Houlton Intl,46.123083,-67.792056,489,-5,A,America/New_York

- Ans: Based on table above, Houlton Intl is the most Eastern airport, but I did a google search and discovered that Eastport, ME is considered the eastern most city in the continental US.

### Question 3 
- On February 12th, 2013, which New York area airport had the windiest weather?

In [12]:
# import the data for weather
import pandas as pd
weather = pd.read_csv('https://raw.githubusercontent.com/hadley/nycflights13/master/data-raw/weather.csv')

In [13]:

weather[(weather['year'] == 2013)&(weather['month'] == 2)& (weather['day'] == 12)&
        (weather.wind_gust < 500)].sort_values(by = ['wind_gust'], ascending=False).head(5)

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
1018,EWR,2013,2,12,12,44.06,26.06,48.87,270.0,21.86482,31.07106,0.0,1012.5,10.0,2013-02-12T17:00:00Z
1019,EWR,2013,2,12,13,46.04,26.06,45.33,280.0,13.80936,31.07106,0.0,1012.3,10.0,2013-02-12T18:00:00Z
18417,LGA,2013,2,12,2,42.98,26.06,50.94,290.0,23.01560,31.07106,0.0,1007.1,10.0,2013-02-12T07:00:00Z
18421,LGA,2013,2,12,6,42.08,24.08,48.56,270.0,13.80936,28.76950,0.0,1009.4,10.0,2013-02-12T11:00:00Z
18418,LGA,2013,2,12,3,42.08,26.06,52.73,290.0,16.11092,28.76950,0.0,1007.9,10.0,2013-02-12T08:00:00Z


- Ans: Based on the findings Newark Airport had the windest weather; but which New York area airport had the windiest weather? LGA airport located in NYC was the windiest airport on February 12th, 2013.